

<link href="css/stats.css" rel="stylesheet" type="text/css">
<script src="js/Chart.js"></script>
<script src="js/legend.js"></script>
<script src="js/jquery-2.1.0.min.js"></script>

<canvas id="users" width="400" height="400"></canvas>
<canvas id="installs" width="400" height="400"></canvas>
<canvas id="platforms" width="400" height="400"></canvas>
 <div id="installLegend"></div>

<script src="js/stats.js"></script>
